html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    overflow-x: hidden;
    font-weight: normal;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

hr {
    margin: 2rem;
    border: .1rem double;
    width: 200%;
}

.pages{
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 6rem;
}

.links{
    font-size: 1.6rem;
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;

}

.app > div {
    margin: 2rem;
}

button{
    margin: 1rem;
}

.portfolioItems {
    margin: 1.5rem;
    padding: 1.6rem;
    border: 2px solid rgb(0, 89, 255);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;   
}